Repository google/timesketch, pull requests merged in 2022-09, with the labels that each got.

#2304 Add manual event to timelines
  timesketch/frontend-ng/src/components/Explore/AddManualEvent.vue
  timesketch/frontend-ng/src/utils/RestApiClient.js
  timesketch/frontend-ng/src/views/Explore.vue
Labels: frontend-v2

#2321 Add manual event
  timesketch/frontend-ng/src/views/Explore.vue
Labels: Bug, frontend-v2

#2313 Upload json/jsonl/plaso/csv button in frontend-ng
  docs/guides/user/import-from-json-csv.md
  timesketch/api/v1/resources/upload.py
  timesketch/frontend-ng/src/components/UploadForm.vue
  timesketch/frontend-ng/src/views/Overview.vue
  timesketch/frontend/src/components/Common/UploadForm.vue
  timesketch/lib/tasks.py
  timesketch/lib/utils.py
  timesketch/lib/utils_test.py
Labels: frontend-v2

#2302 Add Sigma Database to the API
  api_client/python/timesketch_api_client/client.py
  api_client/python/timesketch_api_client/sigma_test.py
  timesketch/api/v1/resources/__init__.py
  timesketch/api/v1/resources/sigma.py
  timesketch/api/v1/resources_test.py
  timesketch/api/v1/routes.py
  timesketch/lib/definitions.py
  timesketch/lib/sigma_util.py
  timesketch/lib/sigma_util_test.py
  timesketch/lib/testlib.py
  timesketch/models/sigma.py
  timesketch/models/sigma_test.py
  timesketch/models/user.py
Labels: Sigma

#2286 UI: Selectable columns, star, tags
  timesketch/frontend-ng/src/components/Explore/EventTagMenu.vue
  timesketch/frontend-ng/src/components/Explore/SearchDropdown.vue
  timesketch/frontend-ng/src/utils/RestApiClient.js
  timesketch/frontend-ng/src/views/Explore.vue
  timesketch/frontend-ng/src/views/Overview.vue
  timesketch/wsgi.py
Labels: frontend-v2

#2326 Upload UI with indexing progress information
  timesketch/api/v1/resources/__init__.py
  timesketch/api/v1/resources/timeline.py
  timesketch/api/v1/resources/upload.py
  timesketch/frontend-ng/src/components/Explore/TimelineChip.vue
  timesketch/frontend-ng/src/components/Explore/TimelinePicker.vue
  timesketch/frontend-ng/src/components/TimelineEvent.vue
  timesketch/frontend-ng/src/components/TimelinesTable.vue
  timesketch/frontend-ng/src/components/UploadForm.vue
  timesketch/frontend-ng/src/views/Explore.vue
  timesketch/lib/tasks.py
  timesketch/models/sketch.py
Labels: data_upload, frontend-v2
