Repository google/timesketch, pull requests merged in 2023-02, with the labels that each got.

#2444 SigmaStudio
  api_client/python/timesketch_api_client/client.py
  timesketch/frontend-ng/src/components/LeftPanel/SigmaRule.vue
  timesketch/frontend-ng/src/components/LeftPanel/SigmaRules.vue
  timesketch/frontend-ng/src/components/Studio/SigmaRuleModification.vue
  timesketch/frontend-ng/src/router.js
  timesketch/frontend-ng/src/store.js
  timesketch/frontend-ng/src/utils/RestApiClient.js
  timesketch/frontend-ng/src/utils/SigmaRuleTemplates.js
  timesketch/frontend-ng/src/views/Studio.vue
Labels: Frontend, Material Design

#2553 explorer view event action icon improvements
  timesketch/frontend-ng/src/components/Explore/EventActionMenu.vue
  timesketch/frontend-ng/src/components/Explore/EventTagMenu.vue
  timesketch/frontend-ng/src/mixins/snackBar.js
  timesketch/frontend-ng/src/views/Explore.vue
Labels: Feature Request, Frontend

#2556 Copy field name/value icons for the EventDetail component
  timesketch/frontend-ng/src/components/Explore/EventDetail.vue
Labels: Feature Request, Frontend

#2572 how to install dependencies for frontend-ng
  docs/developers/frontend-development.md
Labels: Documentation

#2545 Threat intel in new UI
  timesketch/frontend-ng/src/components/LeftPanel/ThreatIntel.vue
  timesketch/frontend-ng/src/components/ThreatIntel/IndicatorDialog.vue
  timesketch/frontend-ng/src/router.js
  timesketch/frontend-ng/src/utils/RestApiClient.js
  timesketch/frontend-ng/src/utils/ThreatIntelMetadata.js
  timesketch/frontend-ng/src/views/Canvas.vue
  timesketch/frontend-ng/src/views/Explore.vue
  timesketch/frontend-ng/src/views/Sketch.vue
  timesketch/frontend-ng/src/views/ThreatIntel.vue
Labels: Frontend, Material Design

#2578 Update Analyzer view + merge latest master
  timesketch/frontend-ng/src/components/LeftPanel/AnalyserResults.vue
  timesketch/frontend-ng/src/components/LeftPanel/ThreatIntel.vue
  timesketch/frontend-ng/src/components/ThreatIntel/IndicatorDialog.vue
  timesketch/frontend-ng/src/router.js
  timesketch/frontend-ng/src/utils/RestApiClient.js
  timesketch/frontend-ng/src/utils/ThreatIntelMetadata.js
  timesketch/frontend-ng/src/views/Canvas.vue
  timesketch/frontend-ng/src/views/Explore.vue
  timesketch/frontend-ng/src/views/Sketch.vue
  timesketch/frontend-ng/src/views/ThreatIntel.vue
Labels: Analyzers, Frontend

#2582 Link back to explore session
  timesketch/frontend-ng/src/views/Sketch.vue
Labels: Frontend

#2585 UI update for the Left Panel
  timesketch/frontend-ng/src/components/LeftPanel/DataTypes.vue
  timesketch/frontend-ng/src/components/LeftPanel/SavedSearches.vue
  timesketch/frontend-ng/src/components/LeftPanel/SearchTemplates.vue
  timesketch/frontend-ng/src/components/LeftPanel/SigmaRules.vue
  timesketch/frontend-ng/src/components/LeftPanel/Tags.vue
  timesketch/frontend-ng/src/components/LeftPanel/ThreatIntel.vue
  timesketch/frontend-ng/src/views/Sketch.vue
Labels: Frontend
