Repository google/timesketch, pull requests merged in 2023-09, with the labels that each got.

#2882 Export query result to CSV
  timesketch/api/v1/export.py
  timesketch/frontend-ng/src/components/Explore/EventList.vue
Labels: Frontend

#2883 Run analyzers only once per timeline
  timesketch/api/v1/resources/analysis.py
  timesketch/frontend-ng/src/components/Analyzer/AnalyzerList.vue
  timesketch/frontend-ng/src/utils/RestApiClient.js
  timesketch/lib/tasks.py
  timesketch/models/sketch.py
Labels: Analyzers, Frontend, Backend

#2886 Tag list refactor & bug fixes
  timesketch/frontend-ng/src/components/Explore/SearchDropdown.vue
  timesketch/frontend-ng/src/components/LeftPanel/Tags.vue
  timesketch/frontend-ng/src/components/LeftPanel/TagsList.vue
  timesketch/frontend-ng/src/views/Explore.vue
Labels: Code health, Frontend

#2888 Event attribute include / exclude filters
  timesketch/frontend-ng/src/components/Explore/EventDetail.vue
  timesketch/frontend-ng/src/views/Explore.vue
Labels: Frontend

#2885 refactor verbose analyzer output
  timesketch/lib/analyzers/account_finder.py
  timesketch/lib/analyzers/domain.py
  timesketch/lib/analyzers/hashr_lookup_test.py
  timesketch/lib/analyzers/interface.py
Labels: Code health, Analyzers

#2887 Analyzer Output UI update
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResultTimeline.vue
Labels: Analyzers, Frontend

#2890 Adding tag filter chips to sigma rules
  timesketch/frontend-ng/src/components/LeftPanel/SigmaRule.vue
Labels: Sigma, Frontend

#2893 filter chip fixes
  timesketch/frontend-ng/src/components/LeftPanel/TagsList.vue
  timesketch/frontend-ng/src/filters/FormatLabelText.js
  timesketch/frontend-ng/src/views/Explore.vue
Labels: Frontend

#2894 Adding multi analyzer result support
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResult.vue
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResultTimeline.vue
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResults.vue
Labels: Analyzers, Frontend

#2896 Fix CSV upload without timestamp_desc
  timesketch/frontend-ng/src/components/UploadForm.vue
Labels: Frontend

#2913 Deprecate Sigma status CSV usage from code
  data/sigma_rule_status.csv
  data/timesketch.conf
  docker/dev/build/docker-entrypoint.sh
  docker/e2e/Dockerfile
  timesketch/frontend-ng/src/utils/RestApiClient.js
Labels: Sigma, Code Health
