Repository google/timesketch, pull requests merged in 2023-11, with the labels that each got.

#2910 Extract Windows event logs messages attributes
  data/winevt_features.yaml
  timesketch/lib/analyzers/__init__.py
  timesketch/lib/analyzers/feature_extraction_plugin.py
  timesketch/lib/analyzers/feature_extraction_plugin_test.py
  timesketch/lib/analyzers/feature_extraction_plugins/__init__.py
  timesketch/lib/analyzers/feature_extraction_plugins/interface.py
  timesketch/lib/analyzers/feature_extraction_plugins/manager.py
  timesketch/lib/analyzers/feature_extraction_plugins/regex_features.py
  timesketch/lib/analyzers/feature_extraction_plugins/winevt_features.py
Labels: Analyzers, Backend

#2969 Removing old feature extractor analyzer
  contrib/deploy_timesketch.ps1
  contrib/deploy_timesketch.sh
  data/regex_features.yaml
  docker/dev/build/docker-entrypoint.sh
  docker/e2e/Dockerfile
  docs/developers/analyzer-development.md
  docs/guides/analyzers/feature_extraction.md
  timesketch/lib/analyzers/__init__.py
  timesketch/lib/analyzers/feature_extraction.py
  timesketch/lib/analyzers/feature_extraction_plugin.py
  timesketch/lib/analyzers/feature_extraction_plugin_test.py
  timesketch/lib/analyzers/feature_extraction_plugins/__init__.py
  timesketch/lib/analyzers/feature_extraction_plugins/regex_features.py
  timesketch/lib/analyzers/feature_extraction_plugins/winevt_features.py
  timesketch/lib/analyzers/feature_extraction_test.py
Labels: Analyzers, Backend

#2970 Update for the context_links documentation
  docs/guides/admin/context-links.md
Labels: Documentation

#2973 Updating the feature extraction analyzer documentation
  data/winevt_features.yaml
  docs/guides/analyzers/feature_extraction.md
Labels: Documentation

#2912 Introduce (large) CSV import in e2e tests
  docs/developers/testing.md
  end_to_end_tests/interface.py
  end_to_end_tests/upload_test.py
  importer_client/python/timesketch_import_client/importer.py
Labels: Data import, Code Health

#2976 [tests] Add jsonl e2e tests
  docs/developers/testing.md
  end_to_end_tests/interface.py
  end_to_end_tests/upload_test.py
Labels: Code Health

#2980 "Add to Threat Intelligence" via context links
  data/context_links.yaml
  timesketch/frontend-ng/src/components/Explore/EventDetail.vue
  timesketch/frontend-ng/src/components/ThreatIntel/IndicatorDialog.vue
  timesketch/frontend-ng/src/views/ThreatIntel.vue
Labels: Feature Request, Frontend

#2983 Adding and updating tooltips for icons
  timesketch/frontend-ng/src/components/Explore/Comments.vue
  timesketch/frontend-ng/src/components/Explore/EventActionMenu.vue
  timesketch/frontend-ng/src/components/Explore/EventDetail.vue
  timesketch/frontend-ng/src/components/Explore/EventList.vue
  timesketch/frontend-ng/src/components/Explore/EventTagMenu.vue
  timesketch/frontend-ng/src/components/Explore/SearchHistoryButtons.vue
  timesketch/frontend-ng/src/components/Explore/SearchHistoryTreeNode.vue
  timesketch/frontend-ng/src/components/Explore/TimelineChip.vue
  timesketch/frontend-ng/src/components/Explore/UnfurlDialog.vue
  timesketch/frontend-ng/src/components/Graph/Cytoscape.vue
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResult.vue
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResultTimeline.vue
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResults.vue
  timesketch/frontend-ng/src/components/LeftPanel/SavedSearches.vue
  timesketch/frontend-ng/src/components/LeftPanel/SigmaRule.vue
  timesketch/frontend-ng/src/components/LeftPanel/SigmaRules.vue
  timesketch/frontend-ng/src/components/LeftPanel/Stories.vue
  timesketch/frontend-ng/src/components/LeftPanel/ThreatIntel.vue
  timesketch/frontend-ng/src/views/Explore.vue
  timesketch/frontend-ng/src/views/Home.vue
  timesketch/frontend-ng/src/views/Sketch.vue
  timesketch/frontend-ng/src/views/ThreatIntel.vue
Labels: Frontend

#2993 Mute noisy info logging in the feature extraction analyzer
  timesketch/lib/analyzers/feature_extraction_plugins/manager.py
Labels: Analyzers, Code Health
