Repository google/timesketch, pull requests merged in 2023-07, with the labels that each got.

#2810 fixes #2809 UI bug
  timesketch/frontend-ng/src/components/Explore/EventTags.vue
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResultTimeline.vue
Labels: Analyzers, Frontend, Bugfix

#2808 Timeline and Scenarios fixes + small UI fixes
  timesketch/frontend-ng/src/App.vue
  timesketch/frontend-ng/src/assets/main.scss
  timesketch/frontend-ng/src/components/Explore/TimelineChip.vue
  timesketch/frontend-ng/src/components/LeftPanel/Graphs.vue
  timesketch/frontend-ng/src/components/LeftPanel/SavedSearches.vue
  timesketch/frontend-ng/src/components/LeftPanel/SearchTemplateCompact.vue
  timesketch/frontend-ng/src/components/Scenarios/Facet.vue
  timesketch/frontend-ng/src/components/Scenarios/Question.vue
  timesketch/frontend-ng/src/components/Scenarios/Scenario.vue
  timesketch/frontend-ng/src/views/Explore.vue
  timesketch/frontend-ng/src/views/Sketch.vue
Labels: Frontend

#2803 Update Account Finder Analyzer
  data/features.yaml
  timesketch/lib/analyzers/account_finder.py
Labels: Analyzers

#2820 Update hashR analyzer
  timesketch/lib/analyzers/hashr_lookup.py
  timesketch/lib/analyzers/hashr_lookup_test.py
Labels: Analyzers

#2821 [CLI] refactor to use central output-format
  cli_client/python/timesketch_cli_client/cli.py
  cli_client/python/timesketch_cli_client/commands/analyze.py
  cli_client/python/timesketch_cli_client/commands/events.py
  cli_client/python/timesketch_cli_client/commands/events_test.py
  cli_client/python/timesketch_cli_client/commands/search.py
  cli_client/python/timesketch_cli_client/commands/sigma.py
  cli_client/python/timesketch_cli_client/commands/timelines.py
  cli_client/python/timesketch_cli_client/test_lib.py
  docs/developers/cli-client.md
  docs/guides/user/cli-client.md
Labels: CLI Client

#2824 Adding hashR user documentation
  docs/guides/analyzers/hashR_lookup.md
Labels: Documentation, Analyzers

#2832 fix mkdocs warnings
  docs/changelog/2023-02.md
  docs/guides/user/sigma.md
  docs/guides/user/sketch-overview.md
  mkdocs.yml
Labels: Documentation

#2833 fix docs formatting
  docs/README.md
  docs/guides/analyzers/hashR_lookup.md
Labels: Documentation

#2838 Always set active timelines
  timesketch/frontend-ng/src/components/Explore/EventList.vue
  timesketch/frontend-ng/src/views/Explore.vue
Labels: Bug

#2843 Support event list sorting (asc/desc)
  timesketch/frontend-ng/src/components/Explore/EventList.vue
Labels: Frontend

#2845 Rework comments
  timesketch/frontend-ng/src/components/Explore/Comments.vue
  timesketch/frontend-ng/src/components/Explore/EventDetail.vue
  timesketch/frontend-ng/src/components/Explore/EventList.vue
Labels: Frontend

#2851 Documentation updates for analyzers
  docs/developers/analyzer-development.md
  docs/guides/admin/context-links.md
Labels: Documentation

#2841 Manage sketch attributes in the CLI client
  api_client/python/timesketch_api_client/sketch.py
  cli_client/python/timesketch_cli_client/commands/attribute.py
  cli_client/python/timesketch_cli_client/commands/sketch.py
  docs/developers/cli-client.md
  docs/guides/user/cli-client.md
Labels: CLI Client
