Repository google/timesketch, pull requests merged in 2023-10, with the labels that each got.

#2864 Add intelligence command to the CLI client
  cli_client/python/timesketch_cli_client/cli.py
  cli_client/python/timesketch_cli_client/commands/intelligence.py
  cli_client/python/timesketch_cli_client/commands/intelligence_test.py
  docs/guides/user/cli-client.md
Labels: CLI Client

#2926 UI build 2023-10-05
  timesketch/frontend-ng/dist/css/index.43c7fbdd.css
  timesketch/frontend-ng/dist/css/index.99172008.css
  timesketch/frontend-ng/dist/index.html
  timesketch/frontend-ng/dist/js/index.0e36eda3.js
  timesketch/frontend-ng/dist/js/index.0e36eda3.js.map
  timesketch/frontend-ng/dist/js/index.5670ae67.js
  timesketch/frontend-ng/dist/js/index.5670ae67.js.map
Labels: Frontend

#2933 Fix missing plaso_formatters
  contrib/deploy_timesketch.sh
Labels: Bug

#2929 Refactor base layout
  timesketch/frontend-ng/src/App.vue
  timesketch/frontend-ng/src/components/LeftPanel/Search.vue
  timesketch/frontend-ng/src/router.js
  timesketch/frontend-ng/src/views/Home.vue
  timesketch/frontend-ng/src/views/Sketch.vue
Labels: Frontend, Code Health

#2935 Fix #2908 tagger bug
  timesketch/lib/analyzers/tagger.py
Labels: Bug, Analyzers

#2932 Adjusting regular expressions for features extraction
  data/features.yaml
Labels: Analyzers

#2945 Truncate timeline names in analyzer results
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResultTimeline.vue
Labels: Analyzers, Frontend

#2924 API client method to delete Sigma rule
  api_client/python/timesketch_api_client/sigma.py
  end_to_end_tests/client_test.py
Labels: API client, Sigma

#2955 Fix missing sketchId in Search.vue
  timesketch/frontend-ng/src/components/LeftPanel/Search.vue
Labels: Bug

#2897 Unfurl integration
  data/context_links.yaml
  requirements.txt
  test_tools/test_events/mock_context_links.yaml
  timesketch/api/v1/resources/contextlinks.py
  timesketch/api/v1/resources/unfurl.py
  timesketch/api/v1/resources_test.py
  timesketch/api/v1/routes.py
  timesketch/frontend-ng/public/unfurl-logo-dark.png
  timesketch/frontend-ng/public/unfurl-logo.png
  timesketch/frontend-ng/src/components/Explore/EventDetail.vue
  timesketch/frontend-ng/src/components/Explore/UnfurlDialog.vue
  timesketch/frontend-ng/src/utils/RestApiClient.js
  timesketch/tsctl.py
Labels: Frontend, Backend

#2956 Copy saved search ID
  timesketch/frontend-ng/src/components/LeftPanel/SavedSearches.vue
Labels: Frontend

#2951 Support emojis in new UI
  timesketch/frontend-ng/src/components/Explore/EventList.vue
Labels: Bug, Frontend

#2949 Instantiate side panel only once
  timesketch/frontend-ng/src/components/LeftPanel/Search.vue
  timesketch/frontend-ng/src/components/LeftPanel/Stories.vue
  timesketch/frontend-ng/src/components/LeftPanel/Tags.vue
  timesketch/frontend-ng/src/components/LeftPanel/ThreatIntel.vue
  timesketch/frontend-ng/src/views/Sketch.vue
Labels: Bug

#2958 context link backwards compatibility & sanitation
  timesketch/api/v1/resources/contextlinks.py
  timesketch/frontend-ng/src/components/Explore/LinkRedirectWarning.vue
Labels: Frontend, Backend

#2960 UI build 2023-10-25
  timesketch/frontend-ng/dist/css/index.1f782e7f.css
  timesketch/frontend-ng/dist/css/index.99172008.css
  timesketch/frontend-ng/dist/index.html
  timesketch/frontend-ng/dist/js/index.6c161971.js
  timesketch/frontend-ng/dist/js/index.6c161971.js.map
  timesketch/frontend-ng/dist/js/index.b5f1d871.js
  timesketch/frontend-ng/dist/js/index.b5f1d871.js.map
  timesketch/frontend-ng/dist/unfurl-logo-dark.png
  timesketch/frontend-ng/dist/unfurl-logo.png
Labels: Frontend

#2965 Fix hidden text
  timesketch/frontend-ng/src/views/Sketch.vue
Labels: Frontend

#2962 bug-fix for context links
  data/context_links.yaml
  timesketch/api/v1/resources/contextlinks.py
  timesketch/frontend-ng/src/components/Explore/UnfurlDialog.vue
Labels: Bug

#2967 Update for upgrade documentation
  docs/guides/admin/upgrade.md
Labels: Documentation
