Repository google/timesketch, pull requests merged in 2023-05, with the labels that each got.

#2719 fixing failing tests
  timesketch/frontend-ng/package.json
  timesketch/frontend/package.json
Labels: Bugfix

#2715 Context Search
  timesketch/frontend-ng/src/components/Explore/EventActionMenu.vue
  timesketch/frontend-ng/src/components/Explore/EventList.vue
  timesketch/frontend-ng/src/filters/FormatSeconds.js
  timesketch/frontend-ng/src/views/Sketch.vue
Labels: Frontend

#2707 Search with no timeline selected
  timesketch/frontend-ng/src/components/Explore/EventList.vue
Labels: Frontend, Bugfix

#2704 Fix alignment for left panel menu
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResults.vue
  timesketch/frontend-ng/src/components/LeftPanel/SigmaRules.vue
  timesketch/frontend-ng/src/components/LeftPanel/Stories.vue
  timesketch/frontend-ng/src/components/LeftPanel/ThreatIntel.vue
Labels: Frontend, Bugfix

#2708 Exit early if there is no cytoscape instance
  timesketch/frontend-ng/src/views/Graph.vue
Labels: Frontend, Bugfix

#2716 [Analyzer] Sigma: NoneType error
  timesketch/lib/analyzers/sigma_tagger.py
  timesketch/lib/sigma_util.py
Labels: Sigma, Bugfix

#2701 Enable sketch archiving
  timesketch/frontend-ng/src/views/Sketch.vue
Labels: Frontend, Bugfix

#2702 Add context to timeline datasources
  timesketch/frontend-ng/src/components/Explore/TimelineChip.vue
Labels: Frontend, Bugfix

#2712 Fix count error for failed timelines
  timesketch/frontend-ng/src/components/Explore/TimelineChip.vue
Labels: Frontend, Bugfix

#2599 [CLI] adding event to a sketch
  cli_client/python/timesketch_cli_client/commands/events.py
  cli_client/python/timesketch_cli_client/commands/events_test.py
  docs/changelog/2023-03.md
  docs/guides/user/cli-client.md
Labels: CLI Client

#2722 Fix active analyzer status check bug
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResults.vue
Labels: Analyzers, Frontend, Bugfix

#2694 Updated Tagging UI
  timesketch/frontend-ng/src/components/Explore/EventList.vue
  timesketch/frontend-ng/src/components/Explore/EventTagMenu.vue
  timesketch/frontend-ng/src/components/Explore/EventTags.vue
  timesketch/frontend-ng/src/utils/RestApiClient.js
Labels: Feature Request, Frontend

#2725 Update to AnalyzerSessionActiveListResource API endpoint
  timesketch/api/v1/resources/analysis.py
Labels: Analyzers, Backend, python

#2713 Saved View left panel fixes
  timesketch/frontend-ng/src/components/Explore/EventActionMenu.vue
  timesketch/frontend-ng/src/components/Explore/EventList.vue
  timesketch/frontend-ng/src/components/LeftPanel/SavedSearches.vue
  timesketch/frontend-ng/src/components/LeftPanel/SigmaRule.vue
  timesketch/frontend-ng/src/views/Explore.vue
Labels: Frontend, Bugfix

#2732 Add remove_tag to CLI client
  cli_client/python/timesketch_cli_client/commands/events.py
Labels: CLI Client

#2737 [CLI] bugfix: respect --limit when using a saved_search
  cli_client/python/timesketch_cli_client/commands/search.py
Labels: Bugfix, CLI Client

#2620 [CLI] Add Sigma list / describe to timesketch cli
  cli_client/python/timesketch_cli_client/cli.py
  cli_client/python/timesketch_cli_client/commands/events_test.py
  cli_client/python/timesketch_cli_client/commands/sigma.py
  cli_client/python/timesketch_cli_client/commands/sigma_test.py
Labels: Sigma, CLI Client

#2750 Save SearchTemplates via YAML only
  timesketch/api/v1/resources/searchtemplate.py
Labels: Bugfix

#2756 Update troubleshooting.md
  docs/guides/admin/troubleshooting.md
Labels: Documentation

#2706 AnalyzerOutput and supporting classes
  timesketch/lib/analyzers/interface.py
Labels: Analyzers, Backend

#2760 Docker build with release tag
  docker/release/build/Dockerfile-release
  docker/release/build/Dockerfile-release-ppa
  docker/release/build/cloudbuild.yaml
Labels: Code health

#2650 Implicit String Fix
  api_client/python/timesketch_api_client/config.py
  api_client/python/timesketch_api_client/crypto.py
  api_client/python/timesketch_api_client/graph.py
  api_client/python/timesketch_api_client/search.py
  api_client/python/timesketch_api_client/searchtemplate.py
  api_client/python/timesketch_api_client/sketch.py
  importer_client/python/timesketch_import_client/helper.py
  importer_client/python/tools/timesketch_importer.py
  timesketch/api/v1/resources/aggregation.py
  timesketch/api/v1/resources/datafinder.py
  timesketch/api/v1/resources/event.py
  timesketch/lib/aggregators/term.py
Labels: Code health
