Repository google/timesketch, pull requests merged in 2023-12, with the labels that each got.

#2990 Adding a copy action to filter chips
  timesketch/frontend-ng/src/views/Explore.vue
Labels: Frontend

#2999 Left panel timeline management
  timesketch/frontend-ng/src/assets/main.scss
  timesketch/frontend-ng/src/components/Explore/EventList.vue
  timesketch/frontend-ng/src/components/Explore/TimelineChip.vue
  timesketch/frontend-ng/src/components/Explore/TimelineComponent.vue
  timesketch/frontend-ng/src/components/Explore/TimelinePicker.vue
  timesketch/frontend-ng/src/components/LeftPanel/TimelinesTable.vue
  timesketch/frontend-ng/src/components/UploadForm.vue
  timesketch/frontend-ng/src/components/UploadFormButton.vue
  timesketch/frontend-ng/src/store.js
  timesketch/frontend-ng/src/views/Explore.vue
  timesketch/frontend-ng/src/views/Sketch.vue
Labels: Frontend

#3001 Update the analyzer timeline picker
  timesketch/frontend-ng/src/components/Analyzer/TimelineChip.vue
  timesketch/frontend-ng/src/components/Analyzer/TimelineSearch.vue
  timesketch/frontend-ng/src/views/Explore.vue
Labels: Analyzers, Frontend

#3003 Update changelog v20231206
  docs/changelog/index.md
Labels: Documentation

#3006 Fix error handling in the API client
  api_client/python/timesketch_api_client/client.py
  api_client/python/timesketch_api_client/error.py
Labels: API client, Code Health

#3008 Collapsable left panel
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResults.vue
  timesketch/frontend-ng/src/components/LeftPanel/DataTypes.vue
  timesketch/frontend-ng/src/components/LeftPanel/Graphs.vue
  timesketch/frontend-ng/src/components/LeftPanel/SavedSearches.vue
  timesketch/frontend-ng/src/components/LeftPanel/Search.vue
  timesketch/frontend-ng/src/components/LeftPanel/SearchTemplates.vue
  timesketch/frontend-ng/src/components/LeftPanel/SigmaRules.vue
  timesketch/frontend-ng/src/components/LeftPanel/Stories.vue
  timesketch/frontend-ng/src/components/LeftPanel/Tags.vue
  timesketch/frontend-ng/src/components/LeftPanel/ThreatIntel.vue
  timesketch/frontend-ng/src/components/LeftPanel/TimelinesTable.vue
  timesketch/frontend-ng/src/components/Scenarios/ContextCard.vue
  timesketch/frontend-ng/src/components/Scenarios/Scenario.vue
  timesketch/frontend-ng/src/views/Explore.vue
  timesketch/frontend-ng/src/views/Sketch.vue
Labels: Frontend
