Repository google/timesketch, pull requests merged in 2023-03, with the labels that each got.

#2592 Reusable EventList component
  timesketch/frontend-ng/src/components/Explore/EventList.vue
  timesketch/frontend-ng/src/views/Explore.vue
  timesketch/frontend-ng/src/views/Sketch.vue
Labels: Code health, Frontend, Material Design

#2595 Graph eventlist
  .github/workflows/e2e-tests.yml
  timesketch/frontend-ng/src/components/Explore/EventList.vue
  timesketch/frontend-ng/src/views/Graph.vue
  timesketch/lib/datastores/opensearch.py
Labels: Frontend, Material Design

#2603 Update sigmastudio snackbars
  timesketch/frontend-ng/src/components/Studio/SigmaRuleModification.vue
Labels: Sigma, Bugfix

#2377 Sigma rules to be deployed by default
  docker/dev/build/docker-entrypoint.sh
  docker/dev/build/sigma_rules.txt
  timesketch/tsctl.py
Labels: Deployment, Sigma

#2610 Stories
  timesketch/frontend-ng/package.json
  timesketch/frontend-ng/src/App.vue
  timesketch/frontend-ng/src/assets/main.scss
  timesketch/frontend-ng/src/assets/markdown.scss
  timesketch/frontend-ng/src/components/Explore/EventList.vue
  timesketch/frontend-ng/src/components/LeftPanel/Stories.vue
  timesketch/frontend-ng/src/main.js
  timesketch/frontend-ng/src/router.js
  timesketch/frontend-ng/src/views/Canvas.vue
  timesketch/frontend-ng/src/views/Graph.vue
  timesketch/frontend-ng/src/views/Sketch.vue
  timesketch/frontend-ng/src/views/Story.vue
Labels: Frontend, Material Design

#2618 Add Plaso staging e2e tests
  .github/workflows/e2e-tests.yml
  docker/e2e/Dockerfile
  docker/e2e/docker-compose.yml
Labels: Code health

#2619 Bugfix: timeline url param support
  timesketch/frontend-ng/src/components/Explore/TimelinePicker.vue
Labels: Bugfix

#2621 Consistent UI interactions
  timesketch/frontend-ng/src/components/LeftPanel/DataTypes.vue
  timesketch/frontend-ng/src/components/LeftPanel/SavedSearches.vue
  timesketch/frontend-ng/src/components/LeftPanel/SearchTemplate.vue
  timesketch/frontend-ng/src/components/LeftPanel/SearchTemplateCompact.vue
  timesketch/frontend-ng/src/components/LeftPanel/SearchTemplates.vue
  timesketch/frontend-ng/src/components/LeftPanel/Tags.vue
  timesketch/frontend-ng/src/views/Sketch.vue
  timesketch/frontend-ng/src/views/Story.vue
Labels: Frontend

#2011 Add docker configs to default paths of files and HTTP(S) ports
  docker/release/config.env
  docker/release/docker-compose.yml
Labels: cla: yes

#2626 Add timeline search for Analyzers
  timesketch/frontend-ng/src/components/Analyzer/TimelineChip.vue
  timesketch/frontend-ng/src/components/Analyzer/TimelineSearch.vue
  timesketch/frontend-ng/src/views/Analyze.vue
Labels: Analyzers, Frontend

#2632 Sigma list speedup
  end_to_end_tests/client_test.py
  timesketch/api/v1/resources/sigma.py
  timesketch/frontend-ng/src/components/LeftPanel/SigmaRule.vue
  timesketch/lib/sigma_util.py
Labels: Sigma, Material Design

#2638 [P17] Small updates to the new analyzer UI
  timesketch/frontend-ng/src/components/Explore/TimelineChip.vue
  timesketch/frontend-ng/src/components/LeftPanel/AnalyserResults.vue
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResults.vue
  timesketch/frontend-ng/src/router.js
  timesketch/frontend-ng/src/store.js
  timesketch/frontend-ng/src/views/Sketch.vue
  timesketch/frontend/dist/no_analyzer_results.png
Labels: Analyzers, Frontend

#2639 Fix #2636 - expand the clickable area of EventList rows
  timesketch/frontend-ng/src/components/Explore/EventList.vue
Labels: Frontend, Bugfix

#2624 P17 analyzer results
  timesketch/api/v1/resources/analysis.py
  timesketch/frontend-ng/src/components/Explore/TimelineChip.vue
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResult.vue
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResultTimeline.vue
  timesketch/frontend-ng/src/components/LeftPanel/AnalyzerResults.vue
Labels: Analyzers, Frontend
