Repository google/timesketch, pull requests merged in 2024-10, with the labels that each got.

#3192 Prevent opensearch from aggregating across all indices.
  timesketch/api/v1/resources/sketch.py
  timesketch/lib/datastores/opensearch.py
Labels: Bug, Backend

#3143 Enable passing on auto-run analyzers parameter when using importer library
  importer_client/python/timesketch_import_client/importer.py
  importer_client/python/timesketch_import_client/importer_test.py
  importer_client/python/tools/timesketch_importer.py
Labels: Analyzers, Data import

#3178 DFIQ Analyzer Implementation
  timesketch/api/v1/resources/analysis.py
  timesketch/api/v1/resources/scenarios.py
  timesketch/api/v1/resources_test.py
  timesketch/lib/analyzers/__init__.py
  timesketch/lib/analyzers/dfiq_plugins/__init__.py
  timesketch/lib/analyzers/dfiq_plugins/manager.py
  timesketch/lib/analyzers/interface.py
  timesketch/lib/analyzers/manager.py
  timesketch/lib/tasks.py
  timesketch/migrations/versions/87d24c7252fc_linking_analysis_and_.py
  timesketch/models/sketch.py
Labels: Analyzers, Backend

#3190 Fix analyzer parsing auth events
  timesketch/lib/analyzers/authentication/utils.py
Labels: Analyzers

#3182 Add query string filtering to Visualizations
  timesketch/api/v1/resources/timeline.py
  timesketch/api/v1/routes.py
  timesketch/frontend-ng/dist/vis_placeholder.png
  timesketch/frontend-ng/public/vis_placeholder.png
  timesketch/frontend-ng/src/components/Analyzer/TimelineSearch.vue
  timesketch/frontend-ng/src/components/Explore/EventList.vue
  timesketch/frontend-ng/src/components/Visualization/AggregationConfig.vue
  timesketch/frontend-ng/src/components/Visualization/AggregationEventSelect.vue
  timesketch/frontend-ng/src/components/Visualization/EventFieldSelect.vue
  timesketch/frontend-ng/src/components/Visualization/VisualizationEditor.vue
  timesketch/frontend-ng/src/utils/RestApiClient.js
  timesketch/lib/aggregators/apex.py
Labels: Frontend

#3210 Add document/page title for sketches
  timesketch/frontend-ng/src/views/Sketch.vue
Labels: Frontend

#3203 Update getTimelineFields to return union of Timeline fields
  timesketch/frontend-ng/src/components/Visualization/VisualizationEditor.vue
Labels: Frontend

#3213 Change icon for opening TI view.
  timesketch/frontend-ng/src/components/LeftPanel/ThreatIntel.vue
Labels: Frontend

#3215 Upgrade unfurl and aiplatform dependencies
  .github/workflows/linters.yml
  .github/workflows/unit-tests.yml
  requirements.txt
  timesketch/lib/analyzers/contrib/bigquery_matcher_test.py
Labels: dependencies
