Repository google/timesketch, pull requests merged in 2024-08, with the labels that each got.

#3139 Fix table row height in Firefox
  timesketch/frontend-ng/src/components/Explore/EventList.vue
Labels: Frontend

#3140 Add timeline selection to visualization editor
  timesketch/frontend-ng/src/components/Analyzer/TimelineSearch.vue
  timesketch/frontend-ng/src/components/Visualization/VisualizationEditor.vue
  timesketch/frontend-ng/src/views/Analyze.vue
Labels: Frontend

#3142 Adding a dependabot.yml
  .github/dependabot.yml
Labels: dependencies

#3145 dependabot config update
  .github/dependabot.yml
Labels: dependencies

#3155 update dependabot config
  .github/dependabot.yml
Labels: dependencies

#3156 add timeline rename functionality to timesketch cli tool
  cli_client/python/timesketch_cli_client/commands/timelines.py
  docs/guides/user/cli-client.md
Labels: CLI Client

#3144 API Client: Add investigative question handling.
  api_client/python/timesketch_api_client/scenario.py
  api_client/python/timesketch_api_client/scenario_test.py
  api_client/python/timesketch_api_client/sketch.py
  api_client/python/timesketch_api_client/sketch_test.py
  api_client/python/timesketch_api_client/test_lib.py
  timesketch/api/v1/resources/scenarios.py
Labels: API client

#3159 [CLI+APIclient] Change timeline color for a given timeline
  api_client/python/timesketch_api_client/timeline.py
  cli_client/python/timesketch_cli_client/commands/timelines.py
  docs/guides/user/cli-client.md
Labels: API client, CLI Client

#3161 API client: Update scenario handling for dfiq 1.1 schema
  api_client/python/timesketch_api_client/scenario.py
  api_client/python/timesketch_api_client/scenario_test.py
  api_client/python/timesketch_api_client/sketch.py
  api_client/python/timesketch_api_client/sketch_test.py
  api_client/python/timesketch_api_client/test_lib.py
Labels: API client

#3163 Support for DFIQ v1.1
  test_data/dfiq/approaches/Q1001.01.yaml
  test_data/dfiq/facets/F1001.yaml
  test_data/dfiq/questions/Q1001.yaml
  test_data/dfiq/scenarios/S1001.yaml
  timesketch/api/v1/resources/__init__.py
  timesketch/api/v1/resources/scenarios.py
  timesketch/frontend-ng/src/components/Scenarios/QuestionApproach.vue
  timesketch/frontend-ng/src/components/Scenarios/QuestionCard.vue
  timesketch/lib/dfiq.py
  timesketch/lib/dfiq_test.py
  timesketch/migrations/versions/c5560d97a2c8_add_uuid_field_to_dfiq_models.py
  timesketch/models/sketch.py
Labels: Backend

#3165 API client: Adjust list/add scenarios & questions function for new dfiq 1.1 backend
  api_client/python/timesketch_api_client/sketch.py
Labels: API client

#3157 DFIQ card redesign and AI query UI
  docker/dev/build/docker-entrypoint.sh
  timesketch/api/v1/resources/nl2q.py
  timesketch/api/v1/resources/settings.py
  timesketch/api/v1/resources_test.py
  timesketch/api/v1/routes.py
  timesketch/frontend-ng/src/components/Explore/EventList.vue
  timesketch/frontend-ng/src/components/Scenarios/QuestionApproach.vue
  timesketch/frontend-ng/src/components/Scenarios/QuestionCard.vue
  timesketch/frontend-ng/src/components/Scenarios/SearchChip.vue
  timesketch/frontend-ng/src/components/SettingsDialog.vue
  timesketch/frontend-ng/src/store.js
  timesketch/frontend-ng/src/utils/RestApiClient.js
  timesketch/frontend-ng/src/views/Sketch.vue
Labels: Frontend

#3167 UI build 20240823
  timesketch/frontend-ng/dist/css/index.7125a471.css
  timesketch/frontend-ng/dist/css/index.cc16cc9f.css
  timesketch/frontend-ng/dist/index.html
  timesketch/frontend-ng/dist/js/index.6da31b3e.js
  timesketch/frontend-ng/dist/js/index.6da31b3e.js.map
  timesketch/frontend-ng/dist/js/index.8fdb3c13.js
  timesketch/frontend-ng/dist/js/index.8fdb3c13.js.map
Labels: Frontend

#3170 Error handling for DFIQ data import
  test_data/dfiq/facets/F1001.yaml
  test_data/dfiq/questions/Q1001.yaml
  test_data/dfiq/scenarios/S1001.yaml
  timesketch/api/v1/resources/scenarios.py
  timesketch/lib/dfiq.py
Labels: Bug, Backend

#3168 Fix: Handle special characters in queries and filter chips
  timesketch/frontend-ng/src/components/Explore/EventDetail.vue
  timesketch/lib/datastores/opensearch.py
Labels: Frontend, Backend

#3171 UI Build 20240828
  timesketch/frontend-ng/dist/index.html
  timesketch/frontend-ng/dist/js/index.31a0f97a.js
  timesketch/frontend-ng/dist/js/index.31a0f97a.js.map
  timesketch/frontend-ng/dist/js/index.6da31b3e.js
  timesketch/frontend-ng/dist/js/index.6da31b3e.js.map
Labels: Frontend
