Repository google/timesketch, pull requests merged in 2024-05, with the labels that each got.

#3061 Support for obseravbles in Yeti analyzers
  timesketch/lib/analyzers/yetiindicators.py
  timesketch/lib/analyzers/yetiindicators_test.py
  timesketch/lib/sigma_util_test.py
Labels: Analyzers

#3077 Bump nginx version
  docker/release/config.env
Labels: Deployment

#3060 Save searches without results
  timesketch/frontend-ng/src/components/Explore/EventList.vue
Labels: Frontend

#3058 Added check to invalid API endpoints to close issue #3005
  timesketch/api/v1/resources_test.py
  timesketch/app.py
Labels: Rest API

#3088 Fix tsctl on a prod deployment
  timesketch/tsctl.py
Labels: Bug

#3089 UI build 20240508
  timesketch/frontend-ng/dist/index.html
  timesketch/frontend-ng/dist/js/index.4cc87d43.js
  timesketch/frontend-ng/dist/js/index.4cc87d43.js.map
  timesketch/frontend-ng/dist/js/index.e9ec375c.js
  timesketch/frontend-ng/dist/js/index.e9ec375c.js.map
Labels: Frontend

#3073 Create new NL2Q API.
  data/nl2q/data_types.csv
  data/nl2q/prompt_nl2q
  data/timesketch.conf
  test_data/nl2q/test_data_types.csv
  test_data/nl2q/test_prompt_nl2q
  timesketch/api/v1/resources/nl2q.py
  timesketch/api/v1/resources_test.py
  timesketch/api/v1/routes.py
  timesketch/api/v1/utils.py
  timesketch/lib/testlib.py
Labels: Backend
