Repository google/timesketch, pull requests merged in 2024-07, with the labels that each got.

#3040 Add ApexChart based visualizations
  timesketch/api/v1/resources/aggregation.py
  timesketch/frontend-ng/src/components/LeftPanel/Visualizations.vue
  timesketch/frontend-ng/src/components/Visualization/AggregationConfig.vue
  timesketch/frontend-ng/src/components/Visualization/ChartBar.vue
  timesketch/frontend-ng/src/components/Visualization/ChartCard.vue
  timesketch/frontend-ng/src/components/Visualization/ChartColumn.vue
  timesketch/frontend-ng/src/components/Visualization/ChartConfig.vue
  timesketch/frontend-ng/src/components/Visualization/ChartDonut.vue
  timesketch/frontend-ng/src/components/Visualization/ChartHeatmap.vue
  timesketch/frontend-ng/src/components/Visualization/ChartLine.vue
  timesketch/frontend-ng/src/components/Visualization/ChartTable.vue
  timesketch/frontend-ng/src/components/Visualization/ChartTypeSelect.vue
  timesketch/frontend-ng/src/components/Visualization/EventFieldSelect.vue
  timesketch/frontend-ng/src/components/Visualization/SavedVisualization.vue
  timesketch/frontend-ng/src/components/Visualization/VisualizationEditor.vue
  timesketch/frontend-ng/src/router.js
  timesketch/frontend-ng/src/store.js
  timesketch/frontend-ng/src/utils/RestApiClient.js
  timesketch/frontend-ng/src/views/Canvas.vue
  timesketch/frontend-ng/src/views/Sketch.vue
  timesketch/frontend-ng/src/views/Visualization.vue
  timesketch/lib/aggregators/__init__.py
  timesketch/lib/aggregators/apex.py
Labels: Frontend, Backend

#3123 Improved error handling for closing index
  timesketch/api/v1/resources/timeline.py
Labels: Backend, Code Health

#3125 Update Opensearch to 2.15.0
  .github/workflows/e2e-tests.yml
  docker/dev/docker-compose.yml
  docker/release/config.env
Labels: Code Health

#3115 Remove duplicative flush() call to address issue 2796.
  importer_client/python/tools/timesketch_importer.py
Labels: Data import

#3127 UI build 20240717
  timesketch/frontend-ng/dist/css/index.7125a471.css
  timesketch/frontend-ng/dist/css/index.e0c46364.css
  timesketch/frontend-ng/dist/index.html
  timesketch/frontend-ng/dist/js/chunk-vendors.954c848e.js
  timesketch/frontend-ng/dist/js/chunk-vendors.eba39bd6.js
  timesketch/frontend-ng/dist/js/index.19382d97.js
  timesketch/frontend-ng/dist/js/index.19382d97.js.map
  timesketch/frontend-ng/dist/js/index.30353b57.js
  timesketch/frontend-ng/dist/js/index.30353b57.js.map
  timesketch/frontend-ng/dist/login.html
Labels: Frontend

#3130 UI build (fix)
  timesketch/frontend-ng/dist/index.html
  timesketch/frontend-ng/dist/js/index.30353b57.js
  timesketch/frontend-ng/dist/js/index.30353b57.js.map
  timesketch/frontend-ng/dist/js/index.8fdb3c13.js
  timesketch/frontend-ng/dist/js/index.8fdb3c13.js.map
Labels: Frontend

#3129 Add visualizations to stories
  timesketch/frontend-ng/src/views/Story.vue
  timesketch/lib/analyzers/browser_search.py
  timesketch/lib/analyzers/interface.py
Labels: Frontend

#3133 Bumping google-auth version from 1.7.0 to 2.32.0
  config/dpkg/control
  dependencies.ini
  requirements.txt
Labels: dependencies
