Repository google/timesketch, pull requests merged in 2024-03, with the labels that each got.

#3047 Fix a bug in the feature_extraction analyzer
  data/regex_features.yaml
  timesketch/lib/analyzers/feature_extraction_plugins/regex_features.py
Labels: Analyzers

#3050 Improvements to the sigma handling
  timesketch/lib/analyzers/yetiindicators.py
  timesketch/lib/analyzers/yetiindicators_test.py
  timesketch/lib/sigma_util.py
  timesketch/lib/sigma_util_test.py
Labels: Analyzers

#3055 UI build
  timesketch/frontend-ng/dist/css/index.4851406e.css
  timesketch/frontend-ng/dist/css/index.f15687b5.css
  timesketch/frontend-ng/dist/index.html
  timesketch/frontend-ng/dist/js/index.c5b4fe01.js
  timesketch/frontend-ng/dist/js/index.c5b4fe01.js.map
  timesketch/frontend-ng/dist/js/index.e4a5eb72.js
  timesketch/frontend-ng/dist/js/index.e4a5eb72.js.map
Labels: Frontend

#3056 DFIQ navigation bug fix
  timesketch/frontend-ng/dist/index.html
  timesketch/frontend-ng/dist/js/index.4cc87d43.js
  timesketch/frontend-ng/dist/js/index.4cc87d43.js.map
  timesketch/frontend-ng/dist/js/index.c5b4fe01.js
  timesketch/frontend-ng/dist/js/index.c5b4fe01.js.map
  timesketch/frontend-ng/src/components/Scenarios/QuestionCard.vue
Labels: Frontend

#3057 Updating the documentation
  docs/changelog/index.md
  docs/guides/admin/install.md
Labels: Documentation
