Repository google/timesketch, pull requests merged in 2025-02, with the labels that each got.

#3274 Feat(cli): Add field count to Timesketch index information
  cli_client/python/timesketch_cli_client/commands/timelines.py
Labels: CLI Client

#3284 Add ability to delete a Story from the UI
  timesketch/frontend-ng/src/views/Story.vue
Labels: Frontend

#3288 UI frontend-ng build
  data/timesketch.conf
  timesketch/frontend-ng/dist/css/index.008f2248.css
  timesketch/frontend-ng/dist/css/index.b4c9f04f.css
  timesketch/frontend-ng/dist/index.html
  timesketch/frontend-ng/dist/js/index.189cb945.js
  timesketch/frontend-ng/dist/js/index.189cb945.js.map
  timesketch/frontend-ng/dist/js/index.603e8c4f.js
  timesketch/frontend-ng/dist/js/index.603e8c4f.js.map
Labels: Frontend

#3292 Upgrade frontend-ng node to v20
  .github/workflows/linters.yml
  .github/workflows/unit-tests.yml
  docker/dev/build/Dockerfile
  timesketch/frontend-ng/package.json
  timesketch/frontend-ng/yarn.lock
Labels: Bug, Frontend

#3291 TagList bug fix
  timesketch/frontend-ng/src/components/LeftPanel/TagsList.vue
Labels: Bug, Frontend

#3290 Add User Settings Menu to Home Page
  timesketch/frontend-ng/src/views/Home.vue
Labels: Frontend

#3293 Fix tests for intel metadata
  timesketch/api/v1/resources_test.py
Labels: Bug

#3270 Refactor: Move ./test_data/ to dedicated ./tests/test_data/ directory
  tests/test_data/dfiq/facets/F1001.yaml
  tests/test_data/dfiq/questions/Q1001.yaml
  tests/test_data/dfiq/scenarios/S1001.yaml
  tests/test_data/nl2q/test_data_types.csv
  tests/test_data/nl2q/test_examples_nl2q
  tests/test_data/nl2q/test_prompt_nl2q
  timesketch/api/v1/resources_test.py
  timesketch/lib/dfiq_test.py
  timesketch/lib/testlib.py
Labels: Code Health

#3296 Bugfix in llm_summarize and introduce initial tests
  timesketch/api/v1/resources/llm_summarize.py
  timesketch/api/v1/resources_test.py
Labels: Bug

#3303 Add timesketch-status to tsctl.
  docs/guides/admin/admin-cli.md
  timesketch/tsctl.py
Labels: CLI Client

#3304 Filtered back-ticks and other trailing characters from the resulting query
  timesketch/api/v1/resources/nl2q.py
  timesketch/api/v1/resources_test.py
Labels: Backend

#3310 Introduce LLMResource API method, tests, and add it as a method for the frontend
  timesketch/api/v1/resources/llm.py
  timesketch/api/v1/resources_test.py
  timesketch/api/v1/routes.py
  timesketch/frontend-ng/src/utils/RestApiClient.js
Labels: Backend
