Repository google/timesketch, pull requests merged in 2025-05, with the labels that each got.

#3384 Update E2E / unit Test Matrix (drop Ubuntu20)
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
  docs/guides/admin/scaling-and-limits.md
Labels: Deployment, Code Health

#3382 Add `tsctl list-config` Command
  docs/guides/admin/admin-cli.md
  timesketch/tsctl.py
Labels: Backend

#3407 Fix TimelineChip failed mode
  timesketch/frontend-ng/src/components/Explore/TimelineComponent.vue
Labels: Bug, Frontend

#3400 [Workflows] Run unittests in paralell in github workflow
  .github/workflows/linters.yml
  .github/workflows/unit-tests.yml
  run_tests.py
  test_requirements.txt
Labels: Deployment, Backend, github_actions

#3348 Add ability to add and use Investigative Questions in Stories
  timesketch/frontend-ng/src/components/Scenarios/QuestionCard.vue
  timesketch/frontend-ng/src/views/Sketch.vue
  timesketch/frontend-ng/src/views/Story.vue
Labels: Frontend

#3414 Improve OpenSearch search method docstring and error logging
  timesketch/lib/datastores/opensearch.py
Labels: Code Health

#3420 Update scenarios.py
  timesketch/api/v1/resources/scenarios.py
Labels: Backend, Code Health

#3405 [CLI] Add generate-dummy-csv command
  docs/developers/testing.md
  docs/guides/user/cli-client.md
  utils/generate_sample_data.py
Labels: Data import

#3397 Feat: Add tsctl export-sketch command for sketch data archival
  docs/guides/admin/admin-cli.md
  end_to_end_tests/tsctl_test.py
  timesketch/tsctl.py
Labels: Backend, CLI Client

#3398 [cli] Add sketch export-only-with-annotations command
  cli_client/python/timesketch_cli_client/commands/sketch.py
  cli_client/python/timesketch_cli_client/commands/sketch_test.py
Labels: CLI Client

#3409 Efficient Bulk Export with Opensearch using PIT and Slicing
  timesketch/lib/datastores/opensearch.py
  timesketch/lib/errors.py
Labels: Backend
