Repository google/timesketch, pull requests merged in 2025-01, with the labels that each got.

#3262 [CLI] Sketch label management
  cli_client/python/timesketch_cli_client/commands/sketch.py
  docs/guides/user/cli-client.md
Labels: CLI Client

#3264 Enhance tsctl with User Status and Group Membership Information
  docs/guides/admin/admin-cli.md
  timesketch/tsctl.py
Labels: Backend

#3257 Increase OpenSearch mapping limit dynamically during indexing of csv/jsonl data
  data/timesketch.conf
  end_to_end_tests/upload_test.py
  timesketch/lib/tasks.py
Labels: Data import

#3267 Dynamically update Star/Comment label counts in the left panel
  timesketch/frontend-ng/src/components/Explore/Comments.vue
  timesketch/frontend-ng/src/components/Explore/EventList.vue
  timesketch/frontend-ng/src/components/LeftPanel/TagsList.vue
  timesketch/frontend-ng/src/store.js
Labels: Frontend

#3272 Fix: Handle "query_shard_exception" in OpenSearch error handling
  timesketch/frontend-ng/src/components/Explore/EventList.vue
Labels: Frontend
