Repository google/timesketch, pull requests merged in 2025-06, with the labels that each got.

#3435 Fix Story bug when no DFIQ is used
  timesketch/frontend-ng/src/utils/RestApiClient.js
  timesketch/frontend-ng/src/views/Story.vue
Labels: Frontend

#3440 Various small changes
  timesketch/lib/datastores/opensearch.py
  timesketch/models/annotations.py
  timesketch/tsctl.py
Labels: Code Health

#3406 [DB] Changes to cascade within the Sketch object
  timesketch/lib/testlib.py
  timesketch/models/acl.py
  timesketch/models/annotations.py
  timesketch/models/sketch.py
  timesketch/models/sketch_test.py
Labels: Backend

#3455 Adding SearchGuideCard to the v3 frontend
  timesketch/frontend-v3/src/components/Explore/EventList.vue
  timesketch/frontend-v3/src/components/Explore/ExploreWelcomeCard.vue
  timesketch/frontend-v3/src/components/Explore/SearchDropdown.vue
  timesketch/frontend-v3/src/components/Explore/SearchGuideCard.vue
  timesketch/frontend-v3/src/components/Explore/SearchHelpCard.vue
  timesketch/frontend-v3/src/components/Explore/SearchNotFoundCard.vue
  timesketch/frontend-v3/src/components/LeftPanel/DataTypesList.vue
  timesketch/frontend-v3/src/components/LeftPanel/SavedSearchesList.vue
  timesketch/frontend-v3/src/components/LeftPanel/TagsList.vue
  timesketch/frontend-v3/src/views/Explore.vue
Labels: Frontend
